includes:
    - phpstan.includes.php

parameters:
    phpVersion: 80100
	tmpDir: build/phpstan
	level: 6
    bootstrapFiles:
		- system/plugins/autoload.php
    paths:
		- app
		- system
    excludePaths:
		- app/log/*
		- system/log/*
		- system/plugins/*
    scanDirectories:
		- sample/*
    checkMissingIterableValueType: false
	checkGenericClassInNonGenericObjectType: false
	checkMissingCallableSignature: true
	treatPhpDocTypesAsCertain: false
	strictRules:
		allRules: false
		disallowedLooseComparison: true
		disallowedConstructs: true
		matchingInheritedMethodNames: true

services:
    - Luminova\Config\PHPStanRules
